.create-aula {
    &-header {
        color: var(--white);
        display: flex;
        justify-content: space-between;
        gap: 2em;

        &-title {
            font-weight: 600;
            width: auto;
        }

        &-actions {
            width: min-content;
            display: flex;
            align-items: center;
            gap: 0.5em;

            &-confirm {
                width: 24px;
                cursor: pointer;
            }

            &-add {
                width: 24px;
                cursor: pointer;
            }

            &-cancel {
                width: 24px;
                cursor: pointer;
            }
        }

        &-fields {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}