.field {
    width: 100%;
    display: flex;

    &-input, &-money {
        width: 100%;
        padding: 0.65em 0.5em;
        border: 0;
        border-radius: 2px;
        font-family: 'Inter';
        background-color: transparent;
        border: 1px solid var(--white);
        color: var(--white);
    
        &::placeholder {
            color: var(--white);
        }

        &:read-only {
            color: var(--light-gray);
            border: 1px solid var(--light-gray);
        }
    }
    
    &-textarea {
        width: 100%;
        height: 100px;
        padding: 0.65em 0.5em;
        border: 0;
        border-radius: 2px;
        font-family: 'Inter';
        background-color: transparent;
        border: 1px solid var(--white);
        color: var(--white);
        resize: none;
    
        &::placeholder {
            color: var(--white);
        }

        &:read-only {
            color: var(--light-gray);
            border: 1px solid var(--light-gray);
        }
    }

    &-label {
        text-align: center;
        width: 100%;
        height: min-content;
        padding: 0.65em 0.5em;
        border: 0;
        border-radius: 2px;
        font-family: 'Inter';
        background-color: transparent;
        border: 1px dashed var(--white);
        color: var(--white);
        resize: none;
        position: relative;
    
        &::placeholder {
            color: var(--white);
        }

        &-image {
            width: 100%;
        }
    }

    &-file {
        display: none;
    }

    &-max {
        display: flex;
        align-items: center;
        padding-left: 1em;
        color: var(--white);
        font-family: 'Inter';
        font-weight: 600;
        font-size: 0.75em;
    }

    &-title {
        color: var(--white);
    }

    &-12 {
        width: 100%;
    }

    &-6 {
        width: calc(49% - 1em);
    }

    &-4 {
        width: calc(33.3% - 1em);
    }
}