.curso {
    &-box {
        margin: 1em;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
        color: var(--white);
        background: var(--linear-default);

        &-item {
            &-image {
                width: 100%;
                max-height: 800px;
            }

            &-title {
                font-size: 1.5em;
                margin-top: 0;
                font-weight: 700;
            }

            &-description {
                font-size: 1em;
                list-style: 0.5em;
                text-align: justify;
            }

            &-btn {
                display: block;
                width: 100%;
                background: var(--linear-default);
                color: var(--white);
                padding: 1em;
                font-weight: 600;
                font-family: 'Inter';
                font-size: 1em;
                border: 1px solid var(--white);
                cursor: pointer
            }

            &-price {
                color: var(--white);
                font-weight: 600;
                text-align: right;
                display: block;
                padding-right: 0.5em;
                padding-bottom: 0.5em;
                font-size: 1.125em;

                &-bruto {
                    color: var(--light-gray);
                    display: inline;
                    text-decoration: line-through;
                    font-size: 0.875em;
                }
            }
        }

        &-details {
            margin-top: 1em;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
        }
    }

    &-aulas {
        margin: 1em;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-family: 'Inter';
        color: var(--white);
        background: var(--linear-default);

        &-header {

            &-title {

            }
        }

        &-body {
            &-modulos {
                padding: 0;
                
                &-item {
                    display: block;
                    padding-bottom: 1em;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .curso {
        display: flex;

        &-box{
            width: 50%;
            display: flex;
            flex-direction: row;

            &-item {
                width: 50%;

                &-image {
                    width: 100%;
                }
            }

            &-details {
                margin-top: 0;
                padding: 1em;
                border-radius: 8px;
            }
        }
        
        &-aulas {
            width: 50%;
        } 
    }
}